<html ng-app="exampleApp">
<head>
<title>CustomForms</title>
<link href="../../css/bootstrap.css" rel="stylesheet" />
<link href="../../css/bootstrap-theme.css" rel="stylesheet" />
<script src="../../js/jquery-1.7.1.js"></script>
<script src="../../js/angular.js"></script>
<script type="text/ng-template" id="triTemplate">
<div class="well">
	<div class="btn-group">
		<button class="btn btn-default">Yes</button>
		<button class="btn btn-default">No</button>
		<button class="btn btn-default">Not Sure</button>
<div>text</div>
	</div>
</div>
</script>
<script>
	angular.module("exampleApp", []).controller("defaultCtrl",
			function($scope) {
				$scope.dataValue = "Not Sure";
			}).directive("triButton", function() {
				return {
					restrict : "E",
					replace : true,
					require : "ngModel",
					templateUrl: "triTemplate",
					link : function(scope, element, attrs, ctrl) {
						element.on("click", function (event) {
							setSelected(event.target.innerHTML);
							scope.$apply(function () {
								ctrl.$setViewValue(event.target.innerHTML);
							});
						});
						
						var setSelected = function(value) {
							var buttons = element.find("button");
							buttons.removeClass("btn-primary");
							for (var i = 0; i < buttons.length; i++) {
								if (buttons.eq(i).text() == value) {
									buttons.eq(i).addClass("btn-primary");
								}
							}
						}
						ctrl.$render = function () {
							setSelected(ctrl.$viewValue || "Not Sure");
						}
					}
				}
	});
</script>
</head>
<body ng-controller="defaultCtrl">
	<div>
		<tri-button name="decision" ng-model="dataValue"></tri-button>
	</div>
	<div class="well">
		Value: <select ng-model="dataValue">
			<option>Yes</option>
			<option>No</option>
			<option>Not Sure</option>
		</select>
	</div>
</body>
</html>