<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
  	.filled {
  		background-color: #ffd;
  	}
  	input.ng-invalid.ng-dirty {
  		border: 1px solid red;
  	}
  	.error {
  		color: red;
  	}
  	
  	ul {
	    list-style-type: none;
	}
	
	.mobile-pattern {
		display: table;
		border-color: black; 
		border-style:dashed; 
		padding: 8px ;
		width: 250px;
	}
	
	.mobile-pattern-row {
		display: table-cell;
		border-color: black; 
		border-style:dashed; 
		margin: 8px ;
		float: left;
	}
  </style>
  <script src="/angularjs/js/jquery-1.7.1.js"></script>
  <script src="/angularjs/js/angular.js"></script>
  
  <script>
  	/* Solution 1 */
	var app = angular.module('main', []);
	
	app.controller('MyController', ['$scope',
	    function($scope){
			$scope.text = "Hello World!";
			$scope.edit = false;
		}
	]);
	
	/*Called only once on page load*/
	app.directive('contenteditable', function() {
		console.log('directive');
		return {
			/*A - only use as attribute, E - only as element*/
			restrict: 'A',
			/*link called for each occurance on page*/
			/*Isolated Scope*/
			link: function(scope, element, attrs) {
				console.log('scope: ' + scope);
				console.log('element: ' + element);
				console.log('attrs: ' + attrs);
				
				element.css('color','green');
				element.on('blur', function(){
					scope.text = element.text();
					scope.edit = false;
					scope.$apply();
				});
				
				element.on('click', function(){
					element.attr('contenteditable', 'true').focus();
					//scope.edit = true;
					//scope.$apply();
				});
			}
		};
	});
	
	app.directive('testDirective', function() {
		//var device = "DESKTOP";//MOBILE - DESKTOP
		//var list = ListFactory.getInstance(device);
		//var template = ListFactory.getInstance(device).getTemplate();
		return {
			restrict: 'E',
			link: function (scope, element, attrs) {
				scope.data = [{id:"1",name:"abc",age:"20",mobile:"8487484"},{id:"2",name:"xyz",age:"25",mobile:"8464484"}];
			},
			template: function () {
				//return angular.element(document.querySelector("#listDesktopTemplate")).html();
				//return angular.element(ListFactory.getInstance(device).getTemplate()).html();
				return angular.element(ListFactory.getInstance().getTemplate()).html();
			}
		};
	});
	
	var ListFactory = (function() {
		return {
			getInstance : function(key) {
				var list = {};
				
				var width = screen.width;
				var height = screen.height;
				key = "DESKTOP";
				
				console.log(width);
				console.log(height);
				if(width < 400 || height < 400) {
					key = "MOBILE";
				}
				
				if("DESKTOP" === key) {
					list = new DesktopList();
				} else if("MOBILE" === key) {
					list = new MobileList();
				}
				return list;
			}
		};
	})();
	
	var DesktopList = (function() {
		return {
			getTemplate : function() {
				//return "<ul><li>Id</li><li>name</li><li>age</li><li>address</li></ul>"
				return document.querySelector("#listDesktopTemplate");
			}
		}
	});
	var MobileList = (function() {
		return {
			getTemplate : function() {
				//return "<ul><li>age</li><li>name</li></ul>"
				return document.querySelector("#listMobileTemplate");
			}
		}
	}); 
  </script>
  
  <script type="text/template" id="listDesktopTemplate">
		<table class="table">
			<tr ng-repeat="item in data"><td>{{item.id}}</td><td>{{item.name}}</td><td>{{item.age}}</td><td>{{item.mobile}}</td></tr>
		</table>
</script>
 <script type="text/template" id="listMobileTemplate">
		<div class="table">
			<div class="mobile-pattern">
				<div ng-repeat="item in data" class="mobile-pattern-row"><div >{{item.age}}</div><div style="float:left; width:100px">{{item.mobile}}</div><div style="float:left; width:100px">{{item.name}}</div></div>
			</div>
		</div>
</script>
</head>
<body>
	<div ng-app="main" class="panel-body" ng-controller="MyController" >
	 	<div ng-attr-contenteditable="{{edit}}">
	 		{{text}}
	 	</div>
	 	<button ng-click="edit = !edit">Edit</button>
	 	<div contenteditable>{{text}}</div>
	 	
	 	<test-directive/>
 	</div>
</body>
</html>

<!-- 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
-->
